{% extends 'base.html.twig' %}

{% block title %}Rayons Fruits{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Rayon {{ categorie.libelle }} {{ produits|length }} produit(s) disponible(s)</h1>
        <a class="contact_btnabck" href="/boutique" >
            <i class="fas fa-2x fa-arrow-circle-left">
            </i>
        </a>

        <div class="produits">
            {% for item in produits %}
                <div class="produit">
                    <img src="{{ asset(item.visuel) }}" width="100">
                    <h4>{{ item.libelle }}</h4>
                    <p>{{ item.texte }}</p>
                    <p>Prix : {{ item.prix }} €</p>
                    <a href="{{ path('app_panier_ajouter', {'_locale': app.request.attributes.get('_locale'),'idProduit': item.id}) }}" class="btn btn-primary">
                        Ajouter au panier
                    </a>
                </div>
            {% endfor %}
        </div>


    </div>
{% endblock %}
